---
layout: single
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}


<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
    
<div style="flex:1 1 250px; min-width:250px;">
  <p>
    Experienced in Game Development in Unity using C# and currently studying Games Design and Development at university. 1
  </p>
</div>

<div style="flex:1 1 250px; min-width:250px;">
    {% include video id="IOUA2QHuMd4" provider="youtube" %}
</div>

</div>
