---
layout: single
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}


<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
    
<div style="flex:1 1 250px; min-width:250px;">
   <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
        {% include video id="IOUA2QHuMd4" provider="youtube" %}
    </section>
</div>

<div style="flex:1 1 250px; min-width:250px;">
    <p>test</p>
</div>

</div>
